<div class="d-flex ">
  <div class="border-end bg-white col-2 navbar-light bg-white topbar mb-4 static-top shadow" id="sidebar-wrapper" [ngClass]="{'toggled': !isExpanded}">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
      <i class="fas fa-user-secret me-2"></i> Gestion de Stock
    </div>
    <div class="list-group list-group-flush my-3">
      <a href="/dashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-tachometer-alt me-2"></i> Dashboard
      </a>
      <a href="/bon-entree" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-boxes me-2"></i> Bons d'Entrée
      </a>
      <a href="/bon-sortie" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-box-open me-2"></i> Bons de Sortie
      </a>
      <a href="/categories" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-tags me-2"></i> Catégories
      </a>
      <a href="/entrepots" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-warehouse me-2"></i> Entrepôts
      </a>
      <a href="/fournisseurs" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-truck me-2"></i> Fournisseurs
      </a>
      <a href="/produits" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-box me-2"></i> Produits
      </a>
      <a href="/roles" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-shield-alt me-2"></i> Rôles
      </a>
      <a href="/utilisateurs" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-users me-2"></i> Utilisateurs
      </a>
    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
