#sidebar-wrapper {
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

#sidebar-wrapper .list-group-item {
  border: none;
  border-left: 4px solid transparent;
}

#sidebar-wrapper .list-group-item.active {
  background-color: #0062E6;
  color: rgb(39, 96, 163);
  border-left-color: #33AEFF;
}

#sidebar-wrapper .list-group-item:hover {
  background-color: #f8f9fa;
  color: #00B7FF;
}