<div class="border-start border-end bg-white navbar-light bg-white topbar mb-4 static-top" id="sidebar-wrapper" [ngClass]="{'toggled': !isExpanded}">
  <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase">
    <img class="mb-2" src="/royale.png" alt="Logo" style="width: 150px;">
  </div>
  <div class="list-group list-group-flush my-6">
    <a href="/dashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/dashboard')}">
      <i class="fas fa-tachometer-alt me-2"></i> Dashboard
    </a>
    <a *ngIf="hasRole('MANAGER')" href="/bon-entree" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/bon-entree')}">
      <i class="fas fa-boxes me-2"></i> Bons d'Entrée
    </a>
    <a *ngIf="hasRole('MANAGER') || hasRole('VENDEUR')" href="/bon-sortie" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/bon-sortie')}">
      <i class="fas fa-box-open me-2"></i> Bons de Sortie
    </a>
    <a *ngIf="hasRole('MANAGER')" href="/categories" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/categories')}">
      <i class="fas fa-tags me-2"></i> Catégories
    </a>
    <a *ngIf="hasRole('MANAGER') || hasRole('VENDEUR')" href="/motif" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/motif')}">
      <i class="fas fa-tags me-2"></i> Motifs
    </a>
    <a *ngIf="hasRole('ADMIN')" href="/entrepots" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/entrepots')}">
      <i class="fas fa-warehouse me-2"></i> Entrepôts
    </a>
    <a *ngIf="hasRole('MANAGER')" href="/fournisseurs" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/fournisseurs')}">
      <i class="fas fa-truck me-2"></i> Fournisseurs
    </a>
    <a *ngIf="hasRole('MANAGER') || hasRole('VENDEUR')" href="/produits" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/produits')}">
      <i class="fas fa-box me-2"></i> Produits
    </a>
    <a *ngIf="hasRole('MANAGER') || hasRole('ADMIN')" href="/utilisateurs" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" [ngClass]="{'active': isActive('/utilisateurs')}">
      <i class="fas fa-users me-2"></i> Utilisateurs
    </a>
  </div>
</div>
