/*
.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 250px;
  background: antiquewhite;
}

.logo-container {
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
}

*/

@media (min-width: 768px) {
  #page-content-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.sidebarC {
  height: 100vh;
}
