
  <div class="container mt-4">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3" style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <span class="info-box-icon elevation-1" style="background: green; color: white;"><i class="fas fa-shopping-cart"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total des Entrées</span>
            <span class="info-box-number">{{ totalEntrees }}</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3" style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <span class="info-box-icon elevation-1" style="background: green; color: white;"><i class="fas fa-box-open"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Total des sorties</span>
            <span class="info-box-number">{{ totalSorties }}</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3" style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <span class="info-box-icon bg-info elevation-1" style="background: rgba(255, 255, 255, 0.2);"><i class="fa-solid fa-boxes-stacked"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Stock Total</span>
            <span class="info-box-number">{{ stockTotal }}</span>
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3" style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <span class="info-box-icon bg-warning elevation-1"><i class="fa-solid fa-hand-holding-dollar"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Valeur des Entrées</span>
            <span class="info-box-number">{{ valeurEntrees }} FCFA</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3" style="background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <span class="info-box-icon bg-warning elevation-1"><i class="fa-solid fa-money-bill-trend-up"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Valeur des sorties</span>
            <span class="info-box-number">{{ valeurSorties }} FCFA</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <div class="card-header" style="background: linear-gradient(135deg, #1d2b64 0%, #f8cdda 100%); color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <h5 class="card-title">Analyse des Tendances</h5>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" style="color: white;">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" style="color: white;">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body" style="background: #f5f5f5;">
            <div class="row">
              <div class="col-md-12">
                <div class="card" style="border-radius: 10px; background: white; padding: 20px;">
                  <p-chart type="line" [data]="data"></p-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card containerChart" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <div class="card-header" style="background: linear-gradient(135deg, #1d2b64 0%, #f8cdda 100%); color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <h3 class="card-title">Ventes par Catégories</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" style="color: white;">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" style="color: white;">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0" style="background: #f5f5f5; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
            <div class="card" style="border-radius: 10px; background: white; padding: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
              <p-chart type="bar" [data]="data3" [options]="options3"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<router-outlet></router-outlet>
